.sidebar {
  flex: 1.2;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: whitesmoke;
}

.top {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr {
  height: 0;
  border: 0.5px solid rgb(230, 227, 227);
}

center {
  padding-left: 10px;
}

ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  color: #7447e8;
}

li:hover {
  background-color: #ece2ff;
}


Link {
  font-size: 13px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  color: #888;
  margin-left: 10px;
}

.IconDesign{
  font-weight: 100px;
}

.design{
  color: #888;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 10px;
  font-size: 13px;
}

.bottom {
  display: flex;
  align-items: center;
  margin: 10px;
}
