.css7171 {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
}

.css7272 {
  padding: 22px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  min-width: 0px;
  word-wrap: break-word;
  background: white;
}

.css7373 {
  display: flex;
  width: 100%;
}

.css7474 {
  height: fit-content;
  position: relative;
}

.css7575 {
  padding-inline-end: 2rem;
  width: 100%;
  min-height: 34px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: relative;
  padding-bottom: 1px;
  border-radius: 6px;
  padding: 12px;
}


.css7777 {
  display: flex;
  flex-direction: column;
}

.css7878 {
  width: 100%;
  display: flex;
  position: relative;
}

.css7979 {
  border: 1px solid;
  border-color: inherit;
  margin-inline-end: -0.6px;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  justify-content: center;
  min-height: 30px;
  width: 90px;
  background-color: lightgray;
  text-align: center;
  padding: 5px;
}

.css79797 {
  width: 100%;
  min-width: 0px;
  opacity: 0.4;
  cursor: not-allowed;
  position: relative;
  border: 1px solid;
  border-color: inherit;
  background: inherit;
  min-height: 30px;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


